<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">

    <body>
      {{>header}}
      <img src="/img/20191012_124007.jpg">
      {{>footer}}
    </body>
  </head>
</html>
