<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">

    <body>
      {{>header}}
      <p>This site was created by Anderson Laventure. It uses data from mapbox.com and weather.com</p>
      <img src="/img/20191012_124007.jpg">
      {{>footer}}
    </body>
  </head>
</html>
